# Bundler cache
.bundle
vendor
Gemfile.lock

# Jekyll cache
.jekyll-cache
.jekyll-metadata
_site

# RubyGems
*.gem

# NPM dependencies
node_modules
package-lock.json

# IDE configurations
.idea
.vscode/*
!.vscode/settings.json
!.vscode/extensions.json
!.vscode/tasks.json

# Misc
_sass/vendors
assets/js/dist

# Not Production
assets/img/posts_in_work
cheat sheet.md
exploitation.md
Infromation gathering.md
post-explotation.md
privilege escalation.md
reconnaissance.md
_posts_in_work